<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

        {% assets filters="cssmin", output="all.css",
            "css/base.css"
        %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
    </head>
    <body>
        {% if current_user() %}<a href="{{ url_for('logout') }}">Logout</a>{% endif %}

        {% block content %}
        {% endblock %}

        {% assets filters="jsmin", output="all.js",
            "js/sockjs-0.3.min.js",
            "js/main.js"
        %}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>
